# Практические задания 14

* Лекция 30 - Файлы JSON и модуль datetime
* Лекция 31 - Файлы CSV и модуль statistics

0. ***Простая запись и чтение файлов csv и json***  
Создайте три списка: Month – с числами от 1 до 12, Income и Outcome – оба с 12 случайными числами от 2000 до 10000. Запишите эти три списка как столбцы в csv файл. Затем прочитайте этот csv-файл как список словарей. Запишите этот список словарей в json-файл.

In [22]:
random.randint(1,12)

5

In [40]:
import random
import csv
import json

month = [i for i in range(1,13)]
income = [random.randint(2000,10000) for i in range(12)]
outcome = [random.randint(2000,10000) for i in range(12)]

data = list(zip(month, income, outcome))
with open('pr14_0.csv','w', encoding='utf-8', newline='') as f:
    w = csv.writer(f)
    w.writerow(["month","income","outcome"])
    w.writerows(data)

In [42]:
data_list = []
with open('pr14_0.csv') as f:
    reader = csv.DictReader(f)
    for row in reader:
        data_list.append(row)

with open('pr14_0.json','w') as f:
    json.dump(data_list,f)

1. ***Анализ оценок по кварталам***  
Реализуйте программу, которая должна:  
* Прочитать данные из JSON-файла.  
* Для каждого ученика вычислить среднюю и медианную оценку за каждый учебный квартал:  
   * 1 квартал: январь–март  
   * 2 квартал: апрель–май (лето пропускается)  
   * 3 квартал: сентябрь–декабрь  
      * Записать результаты в CSV-файл с колонками: ученик, квартал, средняя оценка, медианная оценка  
*Данные:*  
Файл grades.json содержит список записей следующего формата:

```
[{"name": "Bob", "subject": "Science", "grade": 86, "date": "06-09-2025"},
  {"name": "Diana", "subject": "Science", "grade": 85, "date": "31-01-2025"},
  {"name": "Bob", "subject": "Literature", "grade": 60, "date": "19-07-2025"},
  {"name": "Charlie", "subject": "Literature", "grade": 78, "date": "05-08-2025"},
  {"name": "Ethan", "subject": "Literature", "grade": 69, "date": "08-04-2025"},
  {"name": "Charlie", "subject": "Science", "grade": 63, "date": "24-10-2025"},
  {"name": "Ethan", "subject": "Math", "grade": 80, "date": "30-01-2025"},
  {"name": "Alice", "subject": "Physics", "grade": 90, "date": "15-09-2025"},
  {"name": "Ethan", "subject": "Science", "grade": 63, "date": "18-09-2025"},
  ...
]
```

 Пример вывода (quarterly_report.csv):

```
Subject,Name,Quarter,Average grade,Median grade
Physics,Bob,Q4,80.2,78
Physics,Diana,Q1,88.5,88.5
Physics,Ethan,Q2,69,69
```

Идея!!!!
```
data = [
    {("math", "Bob", "Q1"): [21, 54, 45, 87, 56]},
    {("physics", "Alice", "Q2"): [33, 42, 11, 98]},
    {("math", "Alice", "Q1"): [76, 89, 91, 67]},
    {("physics", "Bob", "Q2"): [45, 32, 78, 54]}
]
```
данные сможем сортировать `sorted_by_subject = sorted(data, key=lambda x: list(x.keys())[0][0])`

In [47]:
data = [
    {("math", "Bob", "Q1"): [21, 54, 45, 87, 56]},
    {("physics", "Alice", "Q2"): [33, 42, 11, 98]},
    {("math", "Alice", "Q1"): [76, 89, 91, 67]},
    {("physics", "Bob", "Q2"): [45, 32, 78, 54]}
]

data[0].keys()

dict_keys([('math', 'Bob', 'Q1')])

In [74]:
grades_by_group = dict(grades_by_group)
grades_by_group

{('Science', 'Bob', 'Q3'): [86, 66, 71],
 ('Science', 'Diana', 'Q1'): [85],
 ('Literature', 'Bob', 'Q3'): [60],
 ('Literature', 'Charlie', 'Q3'): [78],
 ('Literature', 'Ethan', 'Q2'): [69, 94, 82],
 ('Science', 'Charlie', 'Q4'): [63],
 ('Math', 'Ethan', 'Q1'): [80],
 ('Physics', 'Alice', 'Q3'): [90, 65],
 ('Science', 'Ethan', 'Q3'): [63, 83],
 ('Science', 'Alice', 'Q4'): [64],
 ('Science', 'Alice', 'Q1'): [85],
 ('Science', 'Ethan', 'Q4'): [97],
 ('Physics', 'Ethan', 'Q2'): [93],
 ('Science', 'Charlie', 'Q2'): [80],
 ('Literature', 'Charlie', 'Q4'): [68],
 ('Literature', 'Charlie', 'Q1'): [80],
 ('Literature', 'Alice', 'Q4'): [99],
 ('Math', 'Alice', 'Q2'): [94, 76],
 ('History', 'Ethan', 'Q2'): [68],
 ('Science', 'Alice', 'Q2'): [83],
 ('Literature', 'Bob', 'Q4'): [94],
 ('Physics', 'Charlie', 'Q1'): [93],
 ('History', 'Ethan', 'Q1'): [66, 62],
 ('Math', 'Charlie', 'Q4'): [66],
 ('History', 'Bob', 'Q4'): [78, 73, 70],
 ('Physics', 'Charlie', 'Q2'): [91, 68],
 ('Math', 'Alice', 'Q3'): [100],
 ('Math', 'Charlie', 'Q2'): [60],
 ('History', 'Bob', 'Q3'): [70],
 ('Literature', 'Ethan', 'Q1'): [95, 99],
 ('Math', 'Alice', 'Q4'): [69],
 ('History', 'Alice', 'Q4'): [97, 82],
 ('Literature', 'Bob', 'Q1'): [68],
 ('History', 'Charlie', 'Q3'): [62],
 ('Science', 'Alice', 'Q3'): [81],
 ('Literature', 'Alice', 'Q3'): [62, 60],
 ('Science', 'Bob', 'Q2'): [89],
 ('Science', 'Charlie', 'Q1'): [74],
 ('Literature', 'Bob', 'Q2'): [81],
 ('Physics', 'Diana', 'Q1'): [92],
 ('Physics', 'Diana', 'Q2'): [72],
 ('History', 'Alice', 'Q2'): [99, 92],
 ('History', 'Diana', 'Q4'): [85],
 ('Literature', 'Diana', 'Q4'): [71],
 ('History', 'Ethan', 'Q4'): [85]}

In [75]:
sorted_by_subject = sorted(grades_by_group, key=lambda x: list(x.keys())[0][0])

# sorted_by_subject = sorted(grades_by_group.items(), key=lambda x: x[0][0])

AttributeError: 'tuple' object has no attribute 'keys'

In [94]:
from statistics import *
import csv
import json
from collections import defaultdict
from datetime import datetime

def get_quart(date):
    month = datetime.strptime(date,"%d-%m-%Y").month
    if 1 <= month <= 3:
        return 'Q1'
    if 4 <= month <= 6:
        return 'Q2'
    if 7 <= month <= 9:
        return 'Q3'
    if 10 <= month <= 12:
        return 'Q4'
        
with open('grades.json') as f:
    data = json.load(f)

dict_by_group = defaultdict(list)

for entry in data: #{'name': 'Bob', 'subject': 'Science', 'grade': 86, 'date': '06-09-2025'}
    quart = get_quart(entry['date'])
    if quart:
        key = (entry['subject'], entry['name'], quart)
        dict_by_group[key].append(entry['grade'])

grades_by_group = [dict([items]) for items in dict_by_group.items()]
sorted_by_subject = sorted(grades_by_group, key=lambda x: list(x.keys())[0][0])
results = []
for (subject, name, q), grades in sorted_by_subject[0].items(): #[{('History', 'Ethan', 'Q2'): [68]},...
    avg_grades = mean(grades)
    med_grades = median(grades)
    results.append([subject, name, q, avg_grades, med_grades])

with open('quarterly_report.csv','w') as f:
    writer = csv.writer(f)
    writer.writerow(['Subject','Name','Quarter','Average grade','Median grade'])
    writer.writerows(results)

2. ***Анализ продаж***  
Прочитайте файл sales.csv в список словарей с ключами fruit, store, date, revenue (то есть количество нужно будет умножить на цену). У всех значений нужно будет сделать корректный тип данных. После этого сформируйте два json-файла, один с информацией о фруктах, другой - с информацией о магазинах. Для каждого фрукта нужно будет вычислить суммарные продажи, среднюю продажу, медианную продажу, стандартное отклонение продаж, дату первой продажи, дату последней продажи. Во втором файле такая же информация, но по каждому магазину.

*Данные:*  
Файл `sales.csv` содержит список записей следующего формата:  
```
Fruit,Store,Date,Quantity,Price
Lemon,Rainbow,2023-01-01,120,1.50
Mango,Farmer,2023-01-01,120,4.80
Grape,Farmer,2023-02-01,80,2.00
```
Пример вывода (store_summary.json):  
```
{"Rainbow": 
{"total_revenue": 922.5, 
"average_revenue": 153.75, 
"median_revenue": 180.0, 
"stddev_revenue": 49.84, 
"first_sale_date": "2023-01-01", 
"last_sale_date": "2023-01-07"}, 
"Farmer": 
{"total_revenue": 1580.0, 
"average_revenue": 225.71, 
"median_revenue": 180.0, 
"stddev_revenue": 155.0, 
"first_sale_date": "2023-01-01", 
"last_sale_date": "2023-01-07"},
…
}
```

Идея!!! 
```
fruit_data = {'Lemon': [{'fruit': 'Lemon', 'store': 'Rainbow', 'date': datetime.datetime(2023, 1, 1, 0, 0), 'revenue': 180.0}, {'fruit': 'Lemon', 'store': 'Rainbow', 'date': datetime.datetime(2023, 1, 3, 0, 0), 'revenue': 180.0}, {'fruit': 'Lemon', 'store': 'Rainbow', 'date': datetime.datetime(2023, 1, 5, 0, 0), 'revenue': 187.5}, {'fruit': 'Lemon', 'store': 'Rainbow', 'date': datetime.datetime(2023, 1, 7, 0, 0), 'revenue': 195.0}],...}

store_data = {'Rainbow': [{'fruit': 'Lemon', 'store': 'Rainbow', 'date': datetime.datetime(2023, 1, 1, 0, 0), 'revenue': 180.0}, {'fruit': 'Apples', 'store': 'Rainbow', 'date': datetime.datetime(2023, 1, 2, 0, 0), 'revenue': 96.0}, {'fruit': 'Lemon', 'store': 'Rainbow', 'date': datetime.datetime(2023, 1, 3, 0, 0), 'revenue': 180.0}, {'fruit': 'Apples', 'store': 'Rainbow', 'date': datetime.datetime(2023, 1, 4, 0, 0), 'revenue': 84.0}, {'fruit': 'Lemon', 'store': 'Rainbow', 'date': datetime.datetime(2023, 1, 5, 0, 0), 'revenue': 187.5}, {'fruit': 'Lemon', 'store': 'Rainbow', 'date': datetime.datetime(2023, 1, 7, 0, 0), 'revenue': 195.0}], 'Farmer':
```