# Summary 6

In [12]:
str1 = 'sldfajkn arkgjno'

In [13]:
str1.isdigit()

False

In [15]:
str1 = '123.6'
str1.isdigit()
float(str1)

123.6

In [29]:
str1 = 'sldfajknarkgjno'
str1.isalpha()

True

In [22]:
str1 = 'sldfajkn arkgjno'
print(str1.find('m'))

-1

In [23]:
str1 = 'sldfajkn arkgjno'
print(str1.index('m'))

ValueError: substring not found

In [24]:
str1 = 'sldfajkn arkgjno'
print(str1.count('a'))

2

In [30]:
str1 = 'sldfajkn arkgjno'
print(str1.upper())

SLDFAJKN ARKGJNO

In [31]:
print(str1)

sldfajkn arkgjno

In [32]:
str1 = 'sldfajkn arkgjno'
str1 = str1.upper()
print(str1)

SLDFAJKN ARKGJNO

In [34]:
text = 'hello world!'

text = text.replace('hello', 'goodby')
print(text)

goodby world!

In [37]:
str1 = 'ijadbfvi1 sgfb 2 356 y7'
digits = '0123456789'

for digit in digits:
    str1 = str1.replace(digit,'')
print(str1)

ijadbfvi sgfb   y

In [38]:
str1 = 'ijadbfvi1, sgfb 2 356 y7'
print(str1.split())

['ijadbfvi1,', 'sgfb', '2', '356', 'y7']

In [40]:
numbers = input('вветите последовательность чисел:') #12, 34, 5, 6 
sm = 0
lst_numbers = numbers.split()
for num in lst_numbers:
    sm += int(num.strip())

print(sm)

вветите последовательность чисел: 12, 34, 5, 6

ValueError: invalid literal for int() with base 10: '12,'

In [43]:
num = ' 12,   '
print(num.strip())

12,

In [44]:
numbers = input('вветите последовательность чисел:') #12, 34, 5, 6 
sm = 0
lst_numbers = numbers.split()
for num in lst_numbers:
    sm += int(num.strip('.,;: '))

print(sm)

вветите последовательность чисел: 12, 34, 5, 6

57

In [46]:
words = ['Hello', 'my', 'friend']
print(' '.join(words))

Hello my friend

### Часто встречающиеся подзадачи на строки

1. Поиск уникальных символов

In [47]:
s = 'programming'
result=''
for char in s:
    if char not in result:
        result += char
print(result)

progamin

2. Является ли слово аннограммой

In [51]:
word1 = 'bannab'

print(word1 == word1[::-1])

True

3. Заменить все встречаемые символы подстроки в строке

In [ ]:
# способ 1. Цикл по всем элементам (Заменяем все цифры на *)

In [54]:
text = 'ijdnij 1 4r53 8'
result=''
for ch in text:
    if '0'<=ch<='9':
        result += '*'
    else:
        result += ch
print(result)

ijdnij * *r** *

In [56]:
# способ 2. методы
text = 'ijdnij 1 4r53 8'
digits = '0123456789'
for dig in digits:
    text = text.replace(dig,'*')
print(text)

ijdnij * *r** *

### Разбор ДЗ

***Звёздочки вместо чисел***  
Напишите программу, которая заменяет все цифры в строке на звёздочки *.  
text = "My number is 123-456-789"  
Пример вывода:  
Строка: My number is 123-456-789  
Результат: My number is `***-***-***`

In [57]:
text = "My number is 123-456-789"
print("Строка:", text)
result = text
for char in text:
    if char.isdigit():
        result = result.replace(char, "*")
print("Результат:", result)

Строка: My number is 123-456-789
Результат: My number is ***-***-***

***Увеличение чисел***  
Напишите программу, которая делает все целые числа в строке в 10 раз больше.  
text = "I have 5 apples and 10 oranges, price is 0.5 each. Card number is ....3672."  

Пример вывода:  
I have 50 apples and 100 oranges, price is 5.0 each. Card number is ....3672.

In [60]:
text = "I have 5 apples and 10 oranges, price is 5.0 each. Card number is ....3672."
words = text.split() #['I', 'have', '5',... , '....3672.']


for i in range(len(words)):
    if words[i].isdecimal():
        words[i] = str(int(words[i]) * 10)


new_text = " ".join(words)
print(new_text)

I have 50 apples and 100 oranges, price is 5.0 each. Card number is ....3672.

In [61]:
text = "I have 5 apples and 10 oranges, price is 5.0 each. Card number is ....3672."

result = "" #Сюда итог собираем
num_str = "" #Сюда накапливаем текущее число

for char in text + " ":
    if char.isdigit() or char == '.':
        num_str += char
    else:
        if num_str: #5.0
            dots_count = num_str.count('.')
            if dots_count <= 1 and len(num_str) > dots_count:
                if '.' in num_str:
                    # Вещественное число
                    integer_part, fractional_part = num_str.split('.')
                    new_number = str(float(num_str) * 10)
                    if new_number.endswith('.0'):
                        result += new_number
                    # else:
                    #     result += new_number.rstrip('0').rstrip('.') if '.' in new_number else new_number
                else:
                    # Целое число
                    result += str(int(num_str) * 10)
            else:
                result += num_str
            num_str = ""
        
        result += char

result = result[:-1]
print(result)

I have 50 apples and 100 oranges, price is 50.0 each. Card number is ....3672.

In [63]:
'....3672.'.split(".")

['', '', '', '', '3672', '']

In [64]:
text = "I have 5 apples and 10 oranges, price is 0.5 each. Card number is ....3672.".split()
result = ''

for word in text:
    if word.isdigit():
        word = str(int(word)*10)
    if "." in word:
        parts = word.split(".")
        if len(parts) == 2 and parts[0].isdigit() and parts[1].isdigit():
            word = str(float(word)*10)
    result += word + ' '
print(result)

I have 50 apples and 100 oranges, price is 5.0 each. Card number is ....3672.

***Сумма положительных чисел***  
Напишите программу, которая обрабатывает список float чисел, вычисляет сумму положительных чисел.  
Результат необходимо вывести в формате денежной суммы (до 2 символов после запятой), добавляя символ валюты "$" вначале и разделяя тысячи запятой.  

Пример вывода:  
numbers = [1245.4435, -302.1403, 87459.99, -520.8265, 1450.001]  
Пример вывода:  
Сумма положительных чисел: $90,155.43

In [65]:
numbers = [1245.4435, -302.1403, 87459.99, -520.8265, 1450.001]

# Инициализируем переменную для хранения суммы положительных чисел
positive_sum = 0

# Фильтруем положительные числа и суммируем их
for num in numbers:
    if num > 0:
        positive_sum += num
        
# Форматируем результат в денежном формате
formatted_sum = "${:,.2f}".format(positive_sum)

print(f"Сумма положительных чисел: {formatted_sum}")

Сумма положительных чисел: $90,155.43

In [66]:
print(f"Сумма положительных чисел: ${positive_sum:,.2f}")

Сумма положительных чисел: $90,155.43

***Сумма положительных чисел***  
Напишите программу, которая принимает список строк в формате "name age balance" и выводит информацию о каждом человеке с отформатированными данными: имя — 10 символов, возраст — 3 символа, баланс — 10 символов с двумя знаками после запятой. Используйте заранее подготовленный список строк.

In [ ]:
# Данные:
# data_list = [
#     "John 23 12345.678",
#     "Alice 30 200.50",
#     "Bob 35 15000.3",
#     "Charlie 40 500.75"
# ]

# Пример вывода:
# Имя: John       | Возраст:  23 | Баланс:  12345.68  
# Имя: Alice      | Возраст:  30 | Баланс:    200.50  
# Имя: Bob        | Возраст:  35 | Баланс:  15000.30  
# Имя: Charlie    | Возраст:  40 | Баланс:    500.75

In [67]:
data_list = [
    "John 23 12345.678",
    "Alice 30 200.50",
    "Bob 35 15000.3",
    "Charlie 40 500.75"
]

for person in data_list:
    name, age, balance = person.split()
    age = int(age)
    balance = float(balance)
    print("Имя: {:<10} | Возраст: {:>3} | Баланс: {:>10.2f}".format(name, age, balance))

Имя: John       | Возраст:  23 | Баланс:   12345.68
Имя: Alice      | Возраст:  30 | Баланс:     200.50
Имя: Bob        | Возраст:  35 | Баланс:   15000.30
Имя: Charlie    | Возраст:  40 | Баланс:     500.75

***Звёздочки вместо чисел***  
Напишите программу, которая принимает список строк в формате "name age balance" и выводит информацию о каждом человеке с отформатированными данными: имя — 10 символов, возраст — 3 символа, баланс — 10 символов с двумя знаками после запятой. Используйте заранее подготовленный список строк.
Пример вывода:  
data_list = [  
    "John 23 12345.678",  
    "Alice 30 200.50",  
    "Bob 35 15000.3",  
    "Charlie 40 500.75"  
]

In [ ]:
# Пример вывода:
# Имя: John       | Возраст:  23 | Баланс:  12345.68  
# Имя: Alice      | Возраст:  30 | Баланс:    200.50  
# Имя: Bob        | Возраст:  35 | Баланс:  15000.30  
# Имя: Charlie    | Возраст:  40 | Баланс:    500.75

In [ ]:
data_list = [
    "John 23 12345.678",
    "Alice 30 200.50",
    "Bob 35 15000.3",
    "Charlie 40 500.75"
]

for person in data_list:
    name, age, balance = person.split()
    age = int(age)
    balance = float(balance)
    print("Имя: {:<10} | Возраст: {:>3} | Баланс: {:>10.2f}".format(name, age, balance))